[tool.poetry]
name = "think-llm"
version = "0.0.4"
description = "Create programs that think, using LLMs."
authors = ["Senko Rasic <senko@senko.net>"]
license = "MIT"
readme = "README.md"
packages = [{include = "think", from = "."}]
homepage = "https://github.com/senko/think"
repository = "https://github.com/senko/think"
keywords = ["ai", "llm"]

[[tool.poetry.source]]
name = "PyPI"
priority = "primary"

[[tool.poetry.source]]
name = "testpypi"
url = "https://test.pypi.org/legacy/"
priority = "explicit"

[build-system]
requires = ["poetry-core"]
build-backend = "poetry.core.masonry.api"

[tool.poetry.dependencies]
python = "^3.9"
pydantic = "^2.5.2"
openai = "^1.3.7"
anthropic = "^0.7.7"
rich = {version = "^13.7.0", optional = true}
click = {version = "^8.1.7", optional = true}
jinja2 = "^3.1.2"

[tool.poetry.group.dev.dependencies]
pytest = "^7.4.3"
ruff = "^0.1.7"
pytest-cov = "^4.1.0"

[tool.poetry.extras]
examples = ["rich", "click"]

[tool.pytest.ini_options]
addopts = "-ra -q --cov=think"
pythonpath = ["."]

[tool.coverage.report]
exclude_lines = ["if TYPE_CHECKING:"]
